﻿.header {
    background: #e5383b;
    clear: both;
    height: 75px;

    #logo {
        float: left;
        margin: 0;
    }

    #navlist {
        float: right;

        li {
            display: inline;
            list-style-type: square;
            padding-right: 20px;

            a:link {
                line-height: 75px;
                height: 75px;
            }
        }
    }
}
