﻿nav {
    background-color: #000000;
    /*margin-bottom: 40px;*/
    color: #ffffff;
    position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #CCC;
    font-family: 'Open Sans', sans-serif;

    &:before {
        content: "";
        width: 100%;
        height: 6px;
        background-image: linear-gradient(#2a7de1, #03b8ff 52%, #06ecdc, #03b8ff 52%);
        top: 0;
        position: absolute;
        z-index: 100;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    a:hover {
        color: #03b8ff;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        margin-bottom: 0;
    }
     
    .logo {
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;


        @media (min-width: 900px) {
            z-index: 100;
        }
    }
}
