nav {
  background-color: #000000;
  /*margin-bottom: 40px;*/
  color: #ffffff;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid #CCC;
  font-family: "Open Sans", sans-serif;
}
nav:before {
  content: "";
  width: 100%;
  height: 6px;
  background-image: linear-gradient(#2a7de1, #03b8ff 52%, #06ecdc, #03b8ff 52%);
  top: 0;
  position: absolute;
  z-index: 100;
}
nav a {
  color: #FFFFFF;
  text-decoration: none;
}
nav a:hover {
  color: #03b8ff;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  margin-bottom: 0;
}
nav .logo {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
}
@media (min-width: 900px) {
  nav .logo {
    z-index: 100;
  }
}

.header {
  background: #e5383b;
  clear: both;
  height: 75px;
}
.header #logo {
  float: left;
  margin: 0;
}
.header #navlist {
  float: right;
}
.header #navlist li {
  display: inline;
  list-style-type: square;
  padding-right: 20px;
}
.header #navlist li a:link {
  line-height: 75px;
  height: 75px;
}