﻿@inherits UmbracoViewPage<IPublishedElement>



@{

    var image = Model.Value<MediaWithCrops>("image");
    var heading = Model.Value<String>("heading");

}



<img src="@image.MediaItem.Url" />



@if (!String.IsNullOrEmpty(heading))
{
    <h1>@heading</h1>
}

@if (Model.HasValue("body"))
{
    @Html.Raw(Model.Value("body"));
  
}