﻿@inherits UmbracoViewPage<IPublishedElement>


@{
    var headline = Model.Value<String>("heading");
    var services = Model.Value<IEnumerable<IPublishedElement>>("services");
}


<h1>@headline</h1>
@Html.Raw(Model.Value<string>("body"))


@foreach (var serviceitem in services)
{

    <h1>@serviceitem.Value("heading")</h1>
    @Html.Raw(serviceitem.Value<string>("body"))

    
        var image = serviceitem.Value<MediaWithCrops>("image");
        <img src="@image.MediaItem.Url">
    

    <a href=" @serviceitem.Value("cTA")">@serviceitem.Value("buttonText")</a>

  }
