﻿@inherits UmbracoViewPage<IPublishedElement>



@{
   var carouselItems = Model.Value<IEnumerable<IPublishedElement>>("carousel");
 }
  
  
   <div class="multiple-items ">
            @foreach (var item in carouselItems)
            {

            


                <div style=" text-align:center">

                    <div class="row" >
                        @{
                        var image = item.Value<MediaWithCrops>("image");
                            
                            <img style="height:340px;width:340px"  src="@image.MediaItem.Url" alt="Second slide">
                            }
                    </div>
                    <div class="row">
                        <h3>@item.Value("heading")</h3>
                    </div>
                    <div class="row">
                      
                        ;
                         
                        @Html.Raw(item.Value<string>("body"))
                        <a href=" @item.Value("cTA")">@item.Value("buttonText")</a>
                       
                    </div>
                </div>
          



            }

        </div>
