﻿@inherits UmbracoViewPage<IPublishedElement>

@{ 
    var teams = Model.Value<IEnumerable<IPublishedElement>>("teams");
}


@foreach(var team in teams)
{
    var image = team.Value<MediaWithCrops>("image");
    <img src="@image.MediaItem.Url" />
    <h1>@team.Value("heading")</h1>
    @Html.Raw(team.Value("body"));
}