﻿@inherits UmbracoViewPage


@{ 
    var logoimage = Model.Value<MediaWithCrops>("logoImage");
    var logoItems = Model.Value<IEnumerable<IPublishedElement>>("socialLogo");
    var navItems = Model.Value<IEnumerable<IPublishedElement>>("menuItems");
    var mobileInfo = Model.Value<String>("mobileInfo");
    var email = Model.Value<String>("email");
}


<div class="container-fluid bg-primary">
    <div class="row">
        <div class="col-3">
            <img src="@logoimage.MediaItem.Url" />
            @Html.Raw(Model.Value("body"))
        <div class="row">
            
                @foreach (var item in logoItems)
                {
                    var link = item.Value<Umbraco.Web.Models.Link>("logoCTA");
                    var iconClass = item.Value<string>("logoClass");
                    <a href="@link.Url" target="@link.Target">

                        <span>
                            <i class="@iconClass fa-stack-1x fa-inverse"></i>
                        </span>


                    </a>
                }
        </div>  
        </div>
        <div class="col-6">
            @if (navItems != null && navItems.Any())
            {
                foreach (var item in navItems)
                {
                    var subitems = item.Value<IEnumerable<IPublishedElement>>("subMenuItems");
                    <h1>@item.Value("menuHeaderName")</h1>
                    if (subitems != null)
                    {
                        foreach (var subitem in subitems)
                        {
                            <ul>
                                <li>@subitem.Value("subMenuHeaderName")</li>
                            </ul>

                        }
                    }


                }
            }
        </div>
        <div class="col-3">
            <h1>For Client</h1>
            <h5>@mobileInfo</h5>
            <h5>@email</h5>
        </div>
    </div>
</div>