﻿@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Homepage>();
    var navItems = Model.Value<IEnumerable<IPublishedElement>>("menuItems");
    var image =    Model.Value<MediaWithCrops>("logoImage");
   }

<!-- Navigation -->



<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="@homePage.Url"><span><img src="@image.Url"></span>@Umbraco.GetDictionaryValue("Site.Name")</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="@homePage.Url">@homePage.Name</a>
                </li>
                @if (navItems != null && navItems.Any())
                {
                    foreach (var item in navItems)
                    {

                        var subitems = item.Value<IEnumerable<IPublishedElement>>("subMenuItems");

                        if (subitems != null && subitems.Count()!=0)
                        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @item.Value("menuHeaderName")
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @foreach (var child in subitems)
                    {

                <li><a class="dropdown-item" href="@child.Value("subMenuLinks")">@child.Value("subMenuHeaderName")</a></li>}

                </ul>
            </li>
            }

                                else
                                {
                                    <li class="nav-item">

                                        <a class="nav-link" href="#">@item.Value("menuHeaderName")</a>
                                    </li>
                                 }

                            }
                        }

            </ul>
            
        </div>
    </div>
</nav>


