﻿@inherits UmbracoViewPage<IPublishedElement>



@{
    var smalltext = Model.Value<String>("smallText");
    var heading = Model.Value<String>("heading");
    var body = Model.Value<String>("body");
    var features = Model.Value<IEnumerable<IPublishedElement>>("features");
}

@if (!String.IsNullOrEmpty(smalltext))
{
    <h5>@smalltext</h5>
}
@if (!String.IsNullOrEmpty(heading))
{
    <h1>@heading</h1>
}
@if (!String.IsNullOrEmpty(body))
{
    @Html.Raw(Model.Value("body"));
}
@Html.Raw(Model.Value("body"));




@foreach (var feature in features)
{

    var image = feature.Value<MediaWithCrops>("image");
    
    {
        <img src="@image.MediaItem.Url" />
    }


    var headline = feature.Value("heading");

    if (feature.HasValue("headline"))
    {
        <h1>@headline</h1>
    }

    if (feature.HasValue("body"))
    {
        @Html.Raw(feature.Value("body"));
    }


}