﻿@inherits UmbracoViewPage<IPublishedElement>



@{

    var image = Model.Value<MediaWithCrops>("image");
    var heading = Model.Value<String>("heading");
    var buttonText = Model.Value<String>("buttonText");

}



<img src="@image.MediaItem.Url" />



@if (!String.IsNullOrEmpty(heading))
{
    <h1>@heading</h1>
}

@if (Model.HasValue("body"))
{
    @Html.Raw(Model.Value("body"));

}

@if (!String.IsNullOrEmpty(buttonText))
{
<button type="button">@buttonText</button>
}