﻿@import "components/navbar";
@import "components/header";

$screen-xs: 576px;
$screen-sm: 576px;
$screen-md: 992px;
$screen-lg: 1200px;

$screen-xs-min: $screen-xs !default;
$screen-sm-min: $screen-sm !default;
$screen-md-min: $screen-md !default;
$screen-lg-min: $screen-lg !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
