﻿@inherits UmbracoViewPage
@{
    Layout = "Master.cshtml";
   
}
<div style="min-height:150px;" class="text-center"><h1>@Model.Name</h1></div>
@Html.Partial("~/views/partials/components/" + Model.ContentType.Alias + ".cshtml", Model)

<style>
    body {background-color:white;}
</style>